<div class="sidebar">
    <div class="profile">
      <img src="{{ site.sidebar.picture }}" alt="{{ site.sidebar.name }}" class="profile-pic">
      <h1>{{ site.sidebar.name }}</h1>
    </div>
    <h2>Contact</h2>
    <ul>
      <li>
        📧 Email: 
        <a href="mailto:{{ site.sidebar.contact.email_primary }}">{{ site.sidebar.contact.email_primary }}</a>, 
        <a href="mailto:{{ site.sidebar.contact.email_secondary }}">{{ site.sidebar.contact.email_secondary }}</a>
      </li>
      <li>
        🌐 GitHub: <a href="{{ site.sidebar.contact.github }}">GitHub</a>
      </li>
      <li>
        🔗 LinkedIn: <a href="{{ site.sidebar.contact.linkedin }}">LinkedIn</a>
      </li>
      <li>
        📖 Google Scholar: <a href="{{ site.sidebar.contact.google_scholar }}">Google Scholar</a>
      </li>
    </ul>
  </div>
  